allow init sysfs_sec:lnk_file r_file_perms;
allow init debugfs:dir mounton;
allow init wcnss_device:chr_file write;
allow init app_data_file:dir setattr;
allow init app_data_file:dir getattr;
neverallow init keystore_data_file:dir relabelfrom;
neverallow init keystore_data_file:file relabelfrom;
allow init security_file:dir relabelfrom;
allow init shell_data_file:dir relabelfrom;
neverallow init vold_data_file:dir relabelfrom;