allow priv_app device:dir { open read };
allow priv_app fuseblk:dir { add_name open read search read write };
allow priv_app fuseblk:file { create getattr open read write };
allow priv_app userinit_prop:file { read };
allow priv_app adbsecure_prop:file { read };
allow priv_app recovery_prop:file { read };
allow priv_app adbtcp_prop:file { read };
allow priv_app boot_mode_prop:file { read };
allow priv_app sys_usb_tethering_prop:file { read };
allow priv_app vr_manager_service:service_manager find;
allow priv_app zygote:binder { call transfer };
neverallow priv_app su_exec:file execute;
allow priv_app cache_private_backup_file:dir getattr;