allow system_app userinit_prop:file { read };
allow system_app recovery_prop:file { read };
allow system_app adbtcp_prop:file { read };
allow system_app boot_mode_prop:file { read };
neverallow system_app dalvikcache_data_file:file { setattr write };
neverallow system_app netd:binder call;
neverallow system_app netd_service:service_manager find;
allow system_server user_profile_data_file:dir read;
