allow untrusted_app fuse:lnk_file read;
allow untrusted_app sysfs:file { getattr open read };
allow untrusted_app proc_iomem:file getattr;
allow untrusted_app proc_sysrq:file getattr;
allow untrusted_app zygote:binder call;
allow untrusted_app zygote:binder transfer;
allow untrusted_app self:udp_socket ioctl;
allow untrusted_app rootfs:dir read;
allow untrusted_app cgroup:dir { open read };
allow untrusted_app debugfs:dir read;
allow untrusted_app device:dir read;
allow untrusted_app efs_file:dir getattr;
allow untrusted_app rild_exec:file { open read };
allow untrusted_app rmt_storage_exec:file read;
allow untrusted_app rootfs:dir open;
allow untrusted_app rootfs:file getattr;
allow untrusted_app sysfs:dir read;
allow untrusted_app tombstone_data_file:dir getattr;
allow untrusted_app sysfs:dir open;
neverallow untrusted_app apk_data_file:file setattr;
allow untrusted_app adbsecure_prop:file { getattr open };
allow untrusted_app adbtcp_prop:file { getattr open };
allow untrusted_app qseecomd_prop:file { getattr open };
allow untrusted_app recovery_prop:file { getattr open };
allow untrusted_app sysfs_camera:dir search;
allow untrusted_app sysfs_camera:file { getattr open read };
allow untrusted_app userinit_prop:file { getattr open };
allow untrusted_app system_app_data_file:file append;
allow untrusted_app boot_mode_prop:file { getattr open };
allow untrusted_app mpdecision_prop:file open;
allow untrusted_app sys_usb_configfs_prop:file { getattr open };
allow untrusted_app sys_usb_controller_prop:file { getattr open };
allow untrusted_app sys_usb_tethering_prop:file { getattr open };