allow vold efs_file:dir r_file_perms;
allow vold persist_file:dir r_file_perms;
allow vold firmware_file:dir search;
allow vold firmware_file:file r_file_perms;

allow vold cache_file:dir { create setattr };
allow vold efs_file:dir { add_name remove_name write };
allow vold efs_file:file { create unlink };
allow vold persist_data_file:dir { ioctl open read };
allow vold persist_misc_file:dir { add_name getattr remove_name write };
allow vold persist_misc_file:file { create open read unlink write };
allow vold efs_file:dir search;
allow vold persist_data_file:dir search;
