allow zygote accessibility_service:service_manager find;
allow zygote activity_service:service_manager find;
allow zygote appops_service:service_manager find;
allow zygote appwidget_service:service_manager find;
allow zygote ashmem_device:chr_file execute;
allow zygote assetatlas_service:service_manager find;
allow zygote audio_service:service_manager find;
allow zygote batterystats_service:service_manager find;
allow zygote bluetooth_manager_service:service_manager find;
allow zygote cm_livedisplay_service:service_manager find;
allow zygote cm_profile_service:service_manager find;
allow zygote connectivity_service:service_manager find;
allow zygote content_service:service_manager find;
allow zygote device_policy_service:service_manager find;
allow zygote deviceidle_service:service_manager find;
allow zygote display_service:service_manager find;
allow zygote gpu_device:chr_file { ioctl open read write };
allow zygote graphicsstats_service:service_manager find;
allow zygote init:unix_stream_socket connectto;
allow zygote input_method_service:service_manager find;
allow zygote input_service:service_manager find;
allow zygote launcherapps_service:service_manager find;
allow zygote mnt_expand_file:dir getattr;
allow zygote mount_service:service_manager find;
allow zygote netpolicy_service:service_manager find;
allow zygote netstats_service:service_manager find;
allow zygote network_management_service:service_manager find;
allow zygote notification_service:service_manager find;
allow zygote power_service:service_manager find;
allow zygote print_service:service_manager find;
allow zygote priv_app:binder { call transfer };
allow zygote priv_app:fd use;
allow zygote procstats_service:service_manager find;
allow zygote property_socket:sock_file write;
allow zygote radio_service:service_manager { add find };
allow zygote registry_service:service_manager find;
allow zygote search_service:service_manager find;
allow zygote self:binder { call transfer };
allow zygote self:process execmem;
allow zygote sensorservice_service:service_manager find;
allow zygote servicemanager:binder { call transfer };
allow zygote surfaceflinger:binder { call transfer };
allow zygote surfaceflinger:fd use;
allow zygote surfaceflinger:unix_stream_socket { read write };
allow zygote surfaceflinger_service:service_manager find;
allow zygote system_data_file:dir { add_name remove_name write };
neverallow zygote system_data_file:file { create setattr unlink write };
allow zygote system_server:binder { call transfer };
allow zygote system_server:fifo_file { getattr read };
allow zygote system_server:unix_stream_socket { read write };
allow zygote telecom_service:service_manager find;
allow zygote time_daemon:unix_stream_socket connectto;
allow zygote trust_service:service_manager find;
allow zygote user_profile_data_file:file getattr;
allow zygote user_service:service_manager find;
allow zygote wallpaper_service:service_manager find;
allow zygote wifi_service:service_manager find;
allow zygote zygote_tmpfs:file execute;
allow zygote bluetooth_data_file:file { getattr open read };
allow zygote bluetooth_efs_file:dir search;
allow zygote bluetooth_efs_file:file { open read };
allow zygote bluetooth_logs_data_file:dir search;
allow zygote bluetooth_logs_data_file:file { open write };
allow zygote cm_hardware_service:service_manager find;
allow zygote hci_attach_dev:chr_file { ioctl open read write };
allow zygote keystore_service:service_manager find;
allow zygote media_session_service:service_manager find;
allow zygote self:tcp_socket create;
allow zygote smd_device:chr_file { ioctl open read write };
allow zygote storage_file:dir getattr;
neverallow zygote system_data_file:file { create setattr unlink write };
allow zygote untrusted_app:binder call;
allow zygote user_profile_data_file:file { lock open read write };
allow zygote bluetooth_prop:property_service set;
allow zygote node:tcp_socket node_bind;
allow zygote port:tcp_socket name_bind;
allow zygote radio_prop:property_service set;
allow zygote self:tcp_socket { bind listen setopt };
neverallow zygote system_data_file:file { setattr write };